<!-- {% load static %} -->
<!DOCTYPE html>
<html>
<head>
	<title>Newyears page</title>
	<link rel="stylesheet"  href="/static/newyear.css"></link>
</head>
	<body>
	<h1 id='ye'>Is New Year now ?</h1>
	<a href="https://www.google.com/search?q=google+translate&rlz=1C1CHBF_enVN912VN912&oq=g&aqs=chrome.1.69i60j69i59j69i57j69i60l4j69i65.3344j0j9&sourceid=chrome&ie=UTF-8">google translate</a>
	{% if newyear %}
		<h1 class="valo">YES</h1>
	{% else %}
		<h1 class="valo">NO</h1>
	{% endif %} 
	<a href="https://www.google.com/search?q=google+translate&rlz=1C1CHBF_enVN912VN912&oq=g&aqs=chrome.1.69i60j69i59j69i57j69i60l4j69i65.3344j0j9&sourceid=chrome&ie=UTF-8"google translate>
	<ol>
		<li>We are a joke</li>
	</ol>

	</body>
</html>