

ul li {
	color: Blueviolet;

}

#haha {
	color: #40ff00

}
 

#haha:hover {
	transition: 0.2s;
	background-color:Tomato;
}

#valo {
	display: flex;
	flex-wrap: wrap;

}
#valo div {
	width: 200px;
	background-color: chocolate;
	padding: 10px;
	margin: 10px;
	font-family: Roboto mono, Arial;
	font-size: 10px
}

@media(max-width:500px) {
	#haha {
		background-color:Darkmagenta;

	}
	#valo {
		background-color:DarkSlateGrey;
	}
}

@media(min-width:501px){
	#haha {
		background-color: Deepskyblue;

	}
	#valo {
		background-color: Cornflowerblue;

	}
}

 #hayda {
 	padding: 10px;
 	border: 3px solid lightpink;
 	font-size: 30px;
 	font-family: Roboto mono, Arial;
 	background-color: firebrick;

 }

 form input {
 	font-size: 20px;
 	font-family: Roboto mono, Arial;
 }
#num2 {
 	font-size: 20px;
 	font-family: Roboto mono, Arial;
 }